*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(234, 234, 240);
    color: rgb(10, 10, 10);
    padding: 0 2em;

}