.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    justify-content: center;
    justify-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2.5em;
}